<div class="container">
  <div class="row">
    <h1>Listing Images</h1>
    <%= link_to "Add Image", new_image_path %>
  </div>
  <div>
    <% @images.each do |image| %>
    <div class="row">
      <%= image_tag(image.path, class:"width-400 js-image-list") %>
      <% image.tags.each do |tag| %>
        <%= link_to tag.name, images_path(tag_filter:tag.name), class: "badge badge-secondary js-tag-list" %>
      <% end%>
    </div>
    <% end %>
  </div>
</div>